.container {
  display: flex;
  width: calc(50% - 40px);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.info-container {
  margin: 16px;
  font-size: 18px;
  min-width: 382px;
}

.title {
  font-size: 20px;
  line-height: 1rem;
  font-weight: 300;
}

.info-container > p {
  margin-bottom: 16px;
}

.date {
  color: rgba(0, 0, 0, 0.5);
}

.link {
  color: #1976d2;
}

.link-active {
  color: gray;
}

.img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
